@import "../../../shared.module/external/Open_Sans/font_open_sans.css";
@import "../../../shared.module/external/roboto/fuente_Roboto.css";

.user_register_view-base{
    width: 100%;
}

.user_register_view-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.user_register_view-container-leftblock{
    width: 100%;
}

.user_register_view-container-rightblock{
    width: 100%;
    background-color: rgb(255,255,255);
}

/*...responsive...*/

@media (min-width: 450px){

}

@media (min-width: 600px){

    .user_register_view-container{
        flex-wrap: nowrap;
    }
    
}

@media (min-width: 750px){
    
}

@media (min-width: 990px){
    
}