@import "../../../shared.module/external/Open_Sans/font_open_sans.css";
@import "../../../shared.module/external/roboto/fuente_Roboto.css";

.user_confirm_form_active-base{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 35px;
}

.user_confirm_active-titleblock{
    width: 100%;
    margin-bottom: 10px;
}

.user_confirm_form_active-row{
    margin-bottom: 20px;
}

.user_confirm_form_active-controltext{
    font-family: Roboto-Regular;
    font-size: 14px;
    color: rgb(0,0,0);
    padding: 10px;
}

.user_confirm_form_active-form-message{
    font-family: Roboto-Light;
    font-size: 12px;
    color: rgb(255,0,0);
}

.user_confirm_form_active-check{
    font-family: Roboto-Regular;
    font-size: 14px;
    color: rgb(0,0,0);
}

#user_confirm_form_active-btn{
    font-family: Roboto-Regular;
    font-size: 14px;
    color: rgb(255,255,255);
    background-color: rgb(138,43,226);
    border: solid 1px rgb(138,43,226);
    width: 100%;
}

#user_confirm_form_active-btn:hover{
    background-color: rgba(138,43,226,0.8);
    border: solid 1px rgba(138,43,226,0.8)
}

.user_confirm_active-titleblock-title{
    font-family: OS-Bold;
    font-size: 16px;
    color: rgb(0,0,0);
}

.user_confirm_active-titleblock-detail{
    font-family: Roboto-Light;
    font-size: 14px;
    color: rgb(0,0,0);
}

.user_confirm_active-titleblock-codebtn{
    font-family: Roboto-Light;
    font-size: 12px;
    color: rgb(138,43,226);
    background-color: rgb(255,255,255);
    border: solid 1px rgb(138,43,226);
    border-radius: 3px;
    padding: 5px 10px;
}

.user_confirm_active-titleblock-codebtn:hover{
    background-color: rgb(138,43,226);
    color: rgb(255,255,255);
    border: solid 1px rgb(138,43,226);
}

.user_confirm_form_active-spinner{
    text-align: center;
}

/*...responsive...*/

@media (min-width: 450px){

}

@media (min-width: 600px){

    #user_confirm_form_active-btn{
        width: auto;
    }
    
}

@media (min-width: 750px){
    
}

@media (min-width: 990px){
    
}